/* ==================================================
   Player styles
================================================== */

#faixaPlayer {
	position: fixed;
	background: #666666;
	width: 100%;
	height: 70px;
	bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding: initial;
	line-height: 28px;
}

#fecharPlayer {
	margin: 0;
	position: fixed;
	botom: 20px;
	left: 0;
	width: 50px;
	height: 50px;
	color: lightgray;
	padding-top: 10px;
	z-index: 99;
	
	-webkit-transition: background 0.1s linear 0s;
	-moz-transition: background 0.1s linear 0s;
	-o-transition: background 0.1s linear 0s;
	transition: background 0.1s linear 0s;
}

#fecharPlayer:hover {
	color: #FF8C53;
	cursor: pointer;
}

#nomePlaylist {
	position: absolute;
	left: 40px;
	top: 18px;
	width: 20%;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

#videoBox {
	position: absolute;
	top: 2px;
	bottom: 4px;
	left: 35%;
	width: 30%;
	height: 63px;
	background: lightgray;
	border: 2px;
	border-radius: 10px;
}

#videoBox .video {
	padding-top: 2px;
	padding-left: 10px;
	float: left;
}

#musicaAtual {
	position: absolute;
	width: 45%;
	top: 2px;
	left: 53%;
	color: #333333;
	font-weight: bold;
	overflow:hidden;
	line-height:20px;
}

#artistaAtual{
	position: absolute;
	width: 45%;
	bottom: 0px;
	left: 53%;
	color: #333333;
	overflow:hidden;
	font-size: 10px;
}

#proxima {
	position: absolute;
	top: 20px;
	left: 80%;
	color: #fff;;
	font-size: 20px;
}

/* ==================================================
   Home-slider
================================================== */

.carousel-caption {
    top: 0;
    bottom: auto;
    font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	font-weight: 300;
	color: #FFFFFF;
	letter-spacing: -2px;
	line-height: 1em;
}

.carousel-caption h3{
	color: white;
	font-size: 30px;
}

.carousel-indicators {
	bottom: 6px;
	font-size: 30px;
}

.carousel-indicators li {
	width: 13px;
	height: 13px;
	background-color: lightgray;
	border-radius: 10px;
}

.carousel-indicators .active {
	background-color: #FF8C53;
	width: 14px;
	height: 14px;
}

/* ==================================================
   Video Search
================================================== */

#videoSearch {
	position: fixed;
	width: 20%;
	height: 93%;
	background: #666666;
	padding: 5px;
	z-index: 100;
	overflow-x: hidden;
	overflow-y: auto;
}

.searchField {
	margin: 0 0 10px 15px;
	padding: 1px;
}

.searchButton {
	margin: 0 0 10px 0px;
	padding: 1px;
}

#videoSearch .texto {
	color: #FFFFFF;
	font-style: italic;
	text-align: center;
}

#videoSearch .t1 {
	font-size:20px;
	margin: 15px;
}

#videoSearch .t2 {
	font-size:14px;
	float: right;
	margin: 15px 5px 0 0;
}

#videoSearch .t3 {
	font-size:16px;
	margin: 10px;
}

#searchOptions {
	color: #FFFFFF;
	text-align: center;
}

/* ==================================================
   Nova Playlist
================================================== */

.novaTitle {
	margin-bottom: 5px;
}

#creating {
	position: fixed;
	width: 80%;
	height: 93%;
	left: 20%;
	padding-left: 50px;
	overflow-y: auto;
	overflow-x: hidden;
}

#creating .title-page {
	padding-left: 30px;
	padding-bottom: -10;
}

#paisagem1, #paisagem2 {
	position: relative;
	height:300px;
	padding:5px 10px;
	border:2px solid #aaaaaa;
	border-radius: 20px;
	background: #FFFFFF;
	color: black;
	text-align: center;
	font-size: 14px;
}

#transicaoBox {
	position: relative;
	height:300px;
}

#transicao {
	position: relative;
	top:50%;
	height:150px;
	padding:5px 10px;
	border:2px solid #aaaaaa;
	border-radius: 20px;
	background: #FFFFFF;
	text-align: center;
	font-size: 14px;
}

.titulo{
	font-style: italic;
	color: #55606A;
	font-size: 18px;
}

#paisagem1 button {
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	padding: 5px;
	background: #FFCD9B;
}

#paisagem1 button:hover {
	background: #FFAD5C;
}

#paisagem2 button {
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	padding: 5px;
	background: #C5E2FF;
}

#paisagem2 button:hover {
	background: #85ADFF;
}

#transicao button {
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	padding: 5px;
	background: -webkit-linear-gradient(left, #FFCD9B , #C5E2FF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #FFCD9B, #C5E2FF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #FFCD9B, #C5E2FF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #FFCD9B , #C5E2FF); /* Standard syntax (must be last) */
}

#transicao button:hover {
	background: -webkit-linear-gradient(left, #FFAD5C, #85ADFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #FFAD5C, #85ADFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #FFAD5C, #85ADFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #FFAD5C, #85ADFF); /* Standard syntax (must be last) */
}

#creating button {
	margin-top: 5px;
	margin-bottom: 5px;
}

#creating button:hover{
	background-color: #FF8C53;
}

.playInfo {
	padding-top: 20px;
}
