/* ==================================================
   Player styles
================================================== */

#faixaPlayer {
	position: fixed;
	background: #666666;
	width: 100%;
	height: 70px;
	bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding: initial;
	line-height: 28px;
}

#fecharPlayer {
	margin: 0;
	position: fixed;
	botom: 20px;
	left: 0;
	width: 50px;
	height: 50px;
	color: lightgray;
	padding-top: 10px;
	z-index: 99;
	
	-webkit-transition: background 0.1s linear 0s;
	-moz-transition: background 0.1s linear 0s;
	-o-transition: background 0.1s linear 0s;
	transition: background 0.1s linear 0s;
}

#fecharPlayer:hover {
	color: #FF8C53;
	cursor: pointer;
}

#nomePlaylist {
	position: absolute;
	left: 40px;
	top: 18px;
	width: 20%;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

#videoBox {
	position: absolute;
	top: 2px;
	bottom: 4px;
	left: 35%;
	width: 30%;
	height: 63px;
	background: lightgray;
	border: 2px;
	border-radius: 10px;
}

#videoBox .video {
	padding-top: 2px;
	padding-left: 10px;
	float: left;
}

#musicaAtual {
	position: absolute;
	width: calc(100% - 300px);
	top: 5px;
	left: 303px;
	color: #333333;
	font-weight: bold;
	overflow:hidden;
	line-height:20px;
}

#proxima {
	position: absolute;
	top: 10px;
	left: 80%;
	color: #fff;;
	font-size: 20px;
}

/* ==================================================
   Home-slider
================================================== */

.carousel-caption {
    top: 0;
    bottom: auto;
    font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	font-weight: 300;
	color: #FFFFFF;
	letter-spacing: -2px;
	line-height: 1em;
}

.carousel-caption h3{
	color: white;
	font-size: 30px;
}

.carousel-indicators {
	bottom: 6px;
	font-size: 30px;
}

.carousel-indicators li {
	width: 13px;
	height: 13px;
	background-color: lightgray;
	border-radius: 10px;
}

.carousel-indicators .active {
	background-color: #FF8C53;
	width: 14px;
	height: 14px;
}

/* ==================================================
   Video Search
================================================== */

#videoSearch {
	position: fixed;
	width: 20%;
	height: calc(100% - 60px);
	background: #666666;
	padding: 5px;
	z-index: 100;
	overflow-x: hidden;
	overflow-y: auto;
}

#searchForm {
	position: relative;
	margin: 10px;
}

.searchField {
	width: 70%;
	float: right;
}

.searchButton {
	width: 30%;
	float: right;
}

#videoSearch .texto {
	color: #FFFFFF;
	font-style: italic;
	text-align: center;
}

#videoSearch .t1 {
	font-size:20px;
	margin: 15px;
}

#videoSearch .t2 {
	font-size:14px;
	float: right;
	margin: 15px 10px 0 0;
}

#videoSearch .t3 {
	font-size:16px;
	margin: 10px;
}

#searchOptions {
	color: #FFFFFF;
}

.videoRadio {
	margin-left:25%;
	margin-right:25%;
	text-align: center;
}

/* ==================================================
   Nova Playlist
================================================== */

#creating {
	position: fixed;
	width: 80%;
	height: calc(100% - 60px);
	left: 20%;
	padding-left: 50px;
	overflow-y: auto;
	overflow-x: hidden;
}

#creating .title-page {
	padding-left: 30px;
}

#paisagem1, #pais2 {
	position: relative;
	height:300px;
	padding:5px 10px;
	border:2px solid #aaaaaa;
	border-radius: 20px;
	background: #FFFFFF;
	color: black;
	text-align: center;
	font-size: 14px;
}

#transicaoBox {
	position: relative;
	height:300px;
}

#transicao {
	position: relative;
	top:50%;
	height:150px;
	padding:5px 10px;
	border:2px solid #aaaaaa;
	border-radius: 20px;
	background: #FFFFFF;
	text-align: center;
	font-size: 14px;
}

.titulo{
	font-style: italic;
	color: #55606A;
	font-size: 18px;
}

#paisagem1 button {
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	padding: 5px;
	background: #FFCD9B;
}

#paisagem1 button:hover {
	background: #FFAD5C;
}

#pais2 button {
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	padding: 5px;
	background: #C5E2FF;
}

#pais2 button:hover {
	background: #85ADFF;
}

#transicao button {
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	padding: 5px;
	background: -webkit-linear-gradient(left, #FFCD9B , #C5E2FF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #FFCD9B, #C5E2FF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #FFCD9B, #C5E2FF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #FFCD9B , #C5E2FF); /* Standard syntax (must be last) */
}

#transicao button:hover {
	background: -webkit-linear-gradient(left, #FFAD5C, #85ADFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #FFAD5C, #85ADFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #FFAD5C, #85ADFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #FFAD5C, #85ADFF); /* Standard syntax (must be last) */
}

#creating button {
	margin-top: 5px;
	margin-bottom: 5px;
}

#tempSongs{
	position: relative;
	height:100px;
	padding:5px 10px;
	border:2px solid #aaaaaa;
	border-radius: 20px;
	background: #FFFFFF;
	color: black;
	float: left;
	font-size: 14px;
	margin: 20px;
}

#tempSongs button {
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	padding: 5px;
	background: #E6E6E6;
}

#tempSongs button:hover {
	background: #CCCCCC;
}

#note {
	font-style: italic;
	float: left;
	font-size:12px;
}

.remover {
	color: #aaaaaa;
}

.remover a:hover {
	color: #F8D6D5;
}

.aerror {
	color: #F8D6D5;
}

.asuccess {
	color: #CCFFCC;
}

.playInfo {
	padding-top: 20px;
}

.playInfo button:hover{
	background: #FF8C53;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

/* ==================================================
   Survey
================================================== */

#formulario {
	position: relative;
	height:50%;
	overflow:auto;
	margin-left:20px;
	margin-bottom: 30px;
	background: white;
	padding:20px;
}

#creating h3 {
	margin: 0px;
}

.question {
	font-weight: normal;
	cursor: pointer;
}

.radioOption {
	margin-left:30px;
}

.botaoFinal{
	float:right;
	margin-bottom:20px;
}

#playlistList {
	margin: 5px;
	color:white;
}

#playlistList .divider{
	position:relative;
	width: 100%;
	height: 3px;
	background-color: #aaaaaa;
	margin-top: 30px;
	margin-bottom: 10px;
}

#playlistList .playlistPart{
	text-align:center;
	font-size: 20px;
	font-weight:bold;
	margin-bottom: 10px;
}

#playlistList .songs{
	font-size: 16px;
	margin-left: 30px;
}