/* ==================================================
   Player styles
================================================== */

#faixaPlayer {
	position: fixed;
	background: #666666;
	width: 100%;
	height: 70px;
	bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding: initial;
	line-height: 28px;
}

#fecharPlayer {
	margin: 0;
	position: fixed;
	botom: 20px;
	left: 0;
	width: 50px;
	height: 50px;
	color: lightgray;
	padding-top: 10px;
	z-index: 99;
	
	-webkit-transition: background 0.1s linear 0s;
	-moz-transition: background 0.1s linear 0s;
	-o-transition: background 0.1s linear 0s;
	transition: background 0.1s linear 0s;
}

#fecharPlayer:hover {
	color: #FF8C53;
	cursor: pointer;
}

#nomePlaylist {
	position: absolute;
	left: 40px;
	top: 18px;
	width: 20%;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
}

#videoBox {
	position: absolute;
	top: 2px;
	bottom: 4px;
	left: 35%;
	width: 30%;
	height: 63px;
	background: lightgray;
	border: 2px;
	border-radius: 10px;
}

#videoBox .video {
	padding-top: 2px;
	padding-left: 10px;
	float: left;
}

#musicaAtual {
	position: absolute;
	width: 45%;
	top: 2px;
	left: 53%;
	color: #333333;
	font-weight: bold;
	overflow:hidden;
	line-height:20px;
}

#artistaAtual{
	position: absolute;
	width: 45%;
	bottom: 0px;
	left: 53%;
	color: #333333;
	overflow:hidden;
	font-size: 10px;
}

#proxima {
	position: absolute;
	top: 20px;
	left: 80%;
	color: #fff;;
	font-size: 20px;
}

/* ==================================================
   Home-slider
================================================== */

.carousel-caption {
    top: 0;
    bottom: auto;
    font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	font-weight: 300;
	color: #FFFFFF;
	letter-spacing: -2px;
	line-height: 1em;
}

.carousel-caption h3{
	color: white;
	font-size: 30px;
}

.carousel-indicators {
	bottom: 6px;
	font-size: 30px;
}

.carousel-indicators li {
	width: 13px;
	height: 13px;
	background-color: lightgray;
	border-radius: 10px;
}

.carousel-indicators .active {
	background-color: #FF8C53;
	width: 14px;
	height: 14px;
}

/* ==================================================
   Nova Playlist
================================================== */

#paisagem1, #paisagem2 {
	position: relative;
	width:300px;
	height:300px;
	padding:5px 10px;
	border:2px solid #aaaaaa;
	border-radius: 20px;
	float: left;
	margin: 20px;
	background: #FFFFFF;
}

#transicaoBox {
	position: relative;
	width:300px;
	height:300px;
	float: left;
	margin: 20px;
}

#transicao {
	position: relative;
	top:30%;
	width:300px;
	height:100px;
	padding:5px 10px;
	border:2px solid #aaaaaa;
	border-radius: 20px;
	background: #FFFFFF;
}

.titulo{
	text-align: center;
	font-style: italic;
}

#nova button{
}

#nova button:hover{
	background-color: #FF8C53;
}

/* ==================================================
   Video Search
================================================== */

spanR {
	float: right;
}

#videoSearch {
	position: fixed;
	top:60px;
	background: #666666;
	width: 300px;
	height: 100%;
	padding: 5px;
	z-index: 100;
}

#videoSearch .texto {
	position: relative;
	color: #FFFFFF;
	font-size:20px;
	font-style: italic;
	text-align: center;
	margin: 20px;
}

#opcaoGoTo {
	margin:20px;
	color: #FFFFFF;
	text-align: center;
}

