@()

@import helper._

@main("Projeto") {

		<!-- Header -->
		<header>
		    <div class="sticky-nav">
		    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
		        
		        <div id="logo">
		        	<a id="goUp" href="#" title="Projeto">Projeto</a>
		        </div>
		        
		        <nav id="menu">
		        	<ul id="menu-nav">
		            	<li class="current"><a href="@routes.Application.index()">Home</a></li>
		                <li><a href="#">Nova Playlist</a></li>
		                <li><a href="@routes.Application.index()">Playlists</a></li>
		                <li><a href="@routes.Application.index()">Contato</a></li>
		            </ul>
		        </nav>
		        
		    </div>
		</header>
		<!-- End Header -->
		
		<!-- Nova Playlist Section -->
		<div id="about" class="page">
		<div class="container">
		    <!-- Title Page -->
		    <div class="row">
		        <div class="span12">
		            <div class="title-page">
		                <h2 class="title">Crie sua playlist</h2>
		                <h3 class="title-description">Escolha sua música de transição</h3>
		                
		                <div class="page-description">
		                    <p>Seu objetivo é criar playlists com diferentes paisagens musicais. Cada paisagem é um conjunto de músicas que tem o mesmo gênero musical. Entre duas paisagens musicais temos uma música de transição, que é uma música que combina os gêneros das duas paisagens musicais.</p>
		                </div>
		                
		            </div>
		        </div>
		    </div>
		    		    
		    
		    
		</div>
		</div>
		<!-- End Nova Playlist Section -->
		
		<!-- Footer -->
		<footer id="footer">
			<div id="frameHidenMsg"></div> 
			<p class="credits">&copy;2013 Chakra. <a href="http://themes.alessioatzeni.com/html/chakra/" title="Chakra | Responsive One Page Template">Chakra Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
		</footer>
		<!-- End Footer -->		

}