@()

@import helper._

@main("Projeto") {

	<!-- Header -->
	<header>
	    <div class="sticky-nav">
	    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
	        
	        <div id="logo">
	        	<a id="goUp" href="#" title="Projeto">Projeto</a>
	        </div>
	        
	        <nav id="menu">
	        	<ul id="menu-nav">
	            	<li><a href="@routes.Application.index()">Home</a></li>
	                <li><a onclick="goHome()">Playlists</a></li>
	                <li><a href="www.youtube.com">Contato</a></li>
	            </ul>
	        </nav>
	        
	    </div>
	</header>
	<!-- End Header -->
	
	<!-- Nova Playlist Section -->
	<div id="nova">
		
		<div id="videoSearch">
			<div class="texto t1">Pesquise sua música através dos vídeos do YouTube.</div>
			
			<div class="col-md-9 searchCol">
				<input type="text" class="form-control" id="keyword"/>
			</div>
			<div class="col-md-3 searchCol">
				<button type="button" onclick="go_get()" class="btn btn-default" id="doSearch">Search</button>
			</div>
	
			<div id="searchOptions" style="display:none">

				<div class="texto t2"><span class="glyphicon glyphicon-arrow-down"></span> Clique em <b>playlist</b> para ver as opções</div>				

				<iframe id="searchiframe" width="94%" height="250" controls="0" frameborder="0"></iframe>
			
				<form class="" role="form" name="goTo">
					<div class="texto t3">Clique no vídeo escolhido com o botão direito, e selecione "copiar URL do vídeo". Copie e cole aqui:</div>
					<input type="text" class="form-control" id="link" placeholder="Link do vídeo"><br>

					<div class="col-md-6">
						<input type="radio" name="radioGoTo" value="1" required>Paisagem 1<br>
						<input type="radio" name="radioGoTo" value="2">Transição<br>
						<input type="radio" name="radioGoTo" value="3">Paisagem 2<br><br>
					</div>
					
					<div class="col-md-6">
						<button type="button" onclick="adicionarMusica()" class="btn btn-default">Adicionar</button>
					</div>
				</form>
			</div>
		</div>
		
		<div id="creating">
		   
		    <!-- Title Page -->
		    <div class="row">
	            <div class="title-page">
	                <h2 class="title">Crie sua playlist</h2>
	                <h3 class="title-description">Escolha suas paisagens e sua música de transição</h3>
	            </div>
            </div>
		    
		    <div class="row">
		    	<div class="col-md-3">
					<label for="genero1">Gênero da Paisagem 1</label>
					<input type="text" class="form-control" id="genero1" placeholder="Gênero"><br>

				    <div id="paisagem1">
				    	<div class="titulo">Paisagem 1</div>
				    	<div id=p1music></div>
				    </div>
			    </div>
			    
			    <div class="col-md-3">
				    <div id="transicaoBox">
				    	<div id="transicao">
				    		<div class="titulo">Música de transição</div>
				    		<div id=tmusic></div>
				    	</div>
				    </div>
			    </div>
			    
			    <div class="col-md-3">
			    	<label for="genero2">Gênero da Paisagem 2</label>
					<input type="text" class="form-control" id="genero2" placeholder="Gênero"><br>

				    <div id="paisagem2">
				    	<div class="titulo">Paisagem 2</div>
				    	<div id=p2music></div>
				    </div>
				</div>
				    
			</div>
		    
	    	<div class="row playInfo">
		    	<div class="col-md-4">
			    	<label for="playlistName">Nome da Playlist</label>
		    		<input type="text" class="form-control" id="playlistName" placeholder="Nome">
	      		</div>
	      		
	      		<div class="col-md-4">
			    	<label for="playlistImg">Imagem</label>
		    		<input type="file" class="form-control" id="playlistImg" placeholder="File">
	      		</div>
	      		
	      		<div class="col-md-4">
					<button type="button" class="btn btn-lg mainButton" onclick="proximo()">Próximo</button>
	      		</div>
      		</div>
	    
		</div>
	</div>
}