@(form: play.data.Form[Playlist])

@import helper._

@main("Projeto") {

	<!-- Header -->
	<header>
	    <div class="sticky-nav">
	    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
	        
	        <div id="logo">
	        	<a id="goUp" href="#" title="Projeto">Projeto</a>
	        </div>
	        
	        <nav id="menu">
	        	<ul id="menu-nav">
	            	<li><a onclick="location.href='/'">Home</a></li>
	                <li><a onclick="location.href='/#work'">Playlists</a></li>
	                <li><a onclick="location.href='/#contact'">Contato</a></li>
	            </ul>
	        </nav>
	        
	    </div>
	</header>
	<!-- End Header -->
	
	<!-- Nova Playlist Section -->
		
		<div id="videoSearch">
			<div class="texto t1">Pesquise sua música através dos vídeos do YouTube.</div>
			
			<div id="searchForm" style="display:block">
				<div class="searchButton">
					<button type="button" onclick="go_get()" class="btn btn-default" id="doSearch">Search</button>
				</div>
				<div class="searchField">
					<input type="text" class="form-control" id="keyword"/>
				</div>
			</div>
	
			<div id="searchOptions" style="display:none">
	
				<div class="texto t2"><i class="glyphicon glyphicon-arrow-down"></i> Clique em <b>playlist</b> para ver mais opções</div>				
	
				<div class="texto">
					<iframe id="searchiframe" width="94%" height="250" controls="0" frameborder="0"></iframe>
				</div>
				<form role="form" name="goTo">
					<div class="texto t3">Clique no vídeo escolhido com o botão direito, e selecione "copiar URL do vídeo". Copie e cole aqui:</div>
					<input type="text" class="form-control" id="link" placeholder="Link do vídeo"><br>
	
				<div class="videoRadio">
					<div class="radio radioOption">
						<label><input type="radio" name="radioGoTo" value="1" required>Paisagem 1</label><br>
					</div>
					<div class="radio radioOption">
						<label><input type="radio" name="radioGoTo" value="2">Transição</label><br>
					</div>
					<div class="radio radioOption">
						<label><input type="radio" name="radioGoTo" value="3">Paisagem 2</label><br>
					</div>

					<button type="button" onclick="requisitarVideo()" class="btn btn-default">Adicionar</button>
				</div>
	
				</form>
			</div>
		</div>
	
		<div id="creating">
		   
		    <!-- Title Page -->
		    <div class="row">
	            <div class="title-page">
	                <h2 class="title">Crie sua playlist</h2>
	                <h3 class="title-description">Escolha suas paisagens e sua música de transição</h3>
	            </div>
	        </div>
	        
	        <div class="row">
				<div id="error" class="alert alert-error" style="display:none">
					<div id="errorText" class="floatLeft"></div>
					<a class="glyphicon glyphicon-remove aerror" onclick="fecharErro()"></a>
				</div>
				
				@if(flash.containsKey("error")){
					<div id="error2" class="alert alert-error" style="display:block">
						<div id="errorText2" class="floatLeft">@flash.get("error")&nbsp;&nbsp;</div>
						<a class="glyphicon glyphicon-remove aerror" onclick="fecharErro()"></a>
					</div>
					
				} 
				
	        </div>
		    
		    <form action="@routes.Application.criaPlaylist()" method="post" enctype="multipart/form-data">
			    <div class="row">
			    	<div class="span4">
			    		<div id="genero1" style="display:none">
							<label for="primGenero">Gênero da Paisagem 1</label>
							<input type="text" class="form-control" name="primGenero" placeholder="Gênero" required><br>
						</div>
		
					    <div id="paisagem1">
					    	<div class="titulo">Paisagem 1</div>
					    	<div id=p1music></div>
					    </div>
				    </div>
				    
				    <div class="span4">
					    <div id="transicaoBox">
					    	<div id="transicao">
					    		<div class="titulo">Música de transição</div>
					    		<div id=tmusic></div>
					    	</div>
					    </div>
				    </div>
				    
				    <div class="span4">
				    	<div id="genero2" style="display:none">
					    	<label for="segGenero">Gênero da Paisagem 2</label>
							<input type="text" class="form-control" name="segGenero" placeholder="Gênero" required><br>
						</div>
		
					    <div id="pais2">
					    	<div class="titulo">Paisagem 2</div>
					    	<div id=p2music></div>
					    </div>
					</div>
					    
				</div>
				
		    	<div class="row playInfo">
		    		<div id="info" style="display:none">
				    	<div class="span4">
					    	<label for="nome">Nome da Playlist</label>
				    		<input type="text" class="form-control" name="nome" placeholder="Nome" required>
			      		</div>
			      		
			      		<div class="span4">
					    	<label for="imagem">Imagem</label>
				    		<input type="file" class="form-control" name="imagem" placeholder="File" accept="image/*">
				    		<div id="note">Deixando este espaço em branco uma imagem padrão será adicionada.</div>
			      		</div>
		      		
			      		<div class="span4">
			      			<div class="floatRight">
			      				<button type="button" class="btn btn-lg mainButton" onclick="voltar()">Voltar</button>
								<button type="submit" class="btn btn-lg mainButton">Finalizar</button>
			      			</div>
			      		</div>
			      	</div>
			      	
			      	<div id="botao1" style="display:block">
			      		<div class="span12">
			      			<div class="floatRight">
								<button type="button" class="btn btn-lg mainButton" onclick="proximo()">Próximo</button>
			      			</div>
			      		</div>
			      	</div>
			      	
		     	</div>
		     </form>
	    </div>
    
}