@()

@import helper._

@main("Projeto") {

	<!-- Header -->
	<header>
	    <div class="sticky-nav">
	    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
	        
	        <div id="logo">
	        	<a id="goUp" href="#" title="Projeto">Projeto</a>
	        </div>
	        
	        <nav id="menu">
	        	<ul id="menu-nav">
	            	<li><a href="@routes.Application.index()">Home</a></li>
	                <li><a onclick="goHome()">Playlists</a></li>
	                <li><a href="www.youtube.com">Contato</a></li>
	            </ul>
	        </nav>
	        
	    </div>
	</header>
	<!-- End Header -->
	
	<!-- Nova Playlist Section -->
	<div id="nova" class="page">
		<div class="container">
		   
		    <!-- Title Page -->
		    <div class="row">
		        <div class="span12">
		            <div class="title-page">
		                <h2 class="title">Crie sua playlist</h2>
		                <h3 class="title-description">Escolha suas paisagens e sua música de transição</h3>
		            </div>
		        </div>
		    </div>
		    
		    <form role="form">

			    <div id="paisagem1" ondrop="drop(event, this)" ondragover="allowDrop(event)">
			    	<div class="titulo">Paisagem 1</div>
					<div class="form-group">
						<input type="text" class="form-control" name="genero1" placeholder="Gênero da paisagem">
					</div>
			    </div>
			    
			    <div id="transicaoBox">
			    	<div id="transicao" ondrop="drop(event, this)" ondragover="allowDrop(event)"><div class="titulo">Música de transição</div></div>
			    </div>
			    
			    <div id="paisagem2" ondrop="drop(event, this)" ondragover="allowDrop(event)">
			    	<div class="titulo">Paisagem 2</div>
					<div class="form-group">
						<input type="text" class="form-control" name="genero2" placeholder="Gênero da paisagem">
					</div>
			    </div>
			    
			    <br><br>
				<button type="submit" class="btn btn-lg mainButton">Próximo</button>
			
			</form>
		    
		</div>
	
		<div id="videoSearch">
			<div class="texto">Pesquise sua música através dos vídeos do YouTube.</div>
			
				<input type="text" class="form-control" id="keyword"/>
				<spanR>
				<button type="button" onclick="go_get()" class="btn btn-default" id="doSearch">Search</button>
				<button type="reset" class="btn btn-default" onclick="clearSearch()">Limpar</button></spanR>
			<br><br>
	
			<iframe id="searchiframe" width="290" height="300" controls="0" frameborder="0"></iframe>
			
			<div id="opcaoGoTo" style="display:none">
				<form role="form" name="goTo">
					<div class="texto2">Clique no vídeo escolhido com o botão direito, e selecione "copiar URL do vídeo". Copie e cole aqui:</div>
					
					<input type="text" class="form-control" id="link" placeholder="Link do vídeo"><br>
					<input type="radio" name="radioGoTo" value="1" required>Paisagem 1<br>
					<input type="radio" name="radioGoTo" value="2">Transição<br>
					<input type="radio" name="radioGoTo" value="3">Paisagem 2<br><br>
					<button type="button" onclick="adicionarMusica()" class="btn btn-default">Adicionar</button>
				</form>
			</div>
	
		</div>
	</div>
}