@(playlistsSample: List[Playlist])

@import helper._

@main("Projeto") {

		<!-- This section is for Splash Screen -->
		<div class="ole">
		<section id="jSplash">
			<div id="circle"></div>
		</section>
		</div>
		<!-- End of Splash Screen -->
		
		<!-- Homepage Slider -->
		<div id="home-slider">	
		    <div class="overlay"></div>
		
			<div class="container">
		    	<div class="row">
		        	<div class="span12">
		                <div class="slider-text">
		                    <div id="slidecaption">
		                    	<div class="slide-content">FullScreen Gallery</div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>   
			
			<div class="control-nav">
		        <a id="prevslide" class="load-item"><i class="font-icon-arrow-simple-left"></i></a>
		        <a id="nextslide" class="load-item"><i class="font-icon-arrow-simple-right"></i></a>
		        <ul id="slide-list"></ul>
		        
		        <a id="nextsection" href="#about"><i class="font-icon-arrow-simple-down"></i></a>
		    </div>
		</div>
		<!-- End Homepage Slider -->
		
		<!-- Header -->
		<header>
		    <div class="sticky-nav">
		    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
		        
		        <div id="logo">
		        	<a id="goUp" href="#home-slider" title="Projeto">Projeto</a>
		        </div>
		        
		        <nav id="menu">
		        	<ul id="menu-nav">
		            	<li class="current"><a href="#work">Home</a></li>
		                <li><a href="#work">Playlists</a></li>
		                <li><a href="#about">Nova Playlist</a></li>
		                <li><a href="#contact">Contato</a></li>
		            </ul>
		        </nav>
		        
		    </div>
		</header>
		<!-- End Header -->
		
		<!-- Playlists Section -->
		<div id="work" class="page">
			<div class="container">
		    	<!-- Title Page -->
		        <div class="row">
		            <div class="span12">
		                <div class="title-page">
		                    <h2 class="title">VIAJE!</h2>
		                    <h3 class="title-description">Ouça playlists criadas por outros usuários.</h3>
		                
		                </div>    
		            </div>
		        </div>
		        <!-- End Title Page -->
		        
		        <!-- Portfolio Projects -->
		        <div class="row">
		            <div class="span12">
		            	<div class="row">
		                	<section id="projects">
		                    	<ul id="thumbs">
		                        	@for(playlist <- playlistsSample) {
										<li class="item-thumbs span3 design">
			                                <!-- Fancybox - Gallery Enabled - Title - Full Image -->
			                                <a class="hover-wrap fancybox" id="playlist" data-fancybox-group="gallery" title="Clique aqui para ouvir" onclick="openPlaylist('@playlist.getId()')">
			                                    <span class="overlay-img"></span>
			                                    <span class="overlay-img-thumb font-icon-play"></span>
			                                </a>
			                                <!-- Thumb Image and Description -->
			                                <img src="@routes.Assets.at("img/imgs playlists/img000.JPG")" alt="Não foi possível carregar imagem">
			                            </li>
		                            }               
		                        </ul>
		                        <!-- div para chamar o iframe escondido e tocar automaticamente -->
								<div id="frameHiden"></div>
		                        
		                    </section>
		                    
		            	</div>
		            </div>
		        </div>
		        <!-- End Portfolio Projects -->
		    </div>
		</div>
		<!-- End Playlists Section -->
		
		<!-- Big Blockquote -->
		<div class="big-quote page">
			<div class="container">
		    	<div class="row">
		        	<div class="span12">
		            	<p>Será que você consegue fazer melhor?</p>
		                <span class="font-icon-blockquote"></span>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- End Big Blockquote -->
		
		<!-- Nova Playlist Section -->
		<div id="about" class="page-alternate">
		<div class="container">
		    <!-- Title Page -->
		    <div class="row">
		        <div class="span12">
		            <div class="title-page">
		                <h2 class="title">CRIE!</h2>
		                <h3 class="title-description">Crie playlists com viagens musicais entre diversos gêneros.</h3>
		                
		                <div class="page-description">
		                    <p>Seu objetivo é criar playlists com diferentes paisagens musicais. Cada paisagem é um conjunto de músicas que tem o mesmo gênero musical. Entre duas paisagens musicais temos uma música de transição, que é uma música que combina os gêneros das duas paisagens musicais.</p>
		                </div>
		                
		            </div>
		        </div>
		    </div>
		    <!-- End Title Page -->
		    
		    <!-- People -->
		    <div class="row">
		    	
		        <!-- Start Profile -->
		    	<div class="span4 profile">
		    		<a href="@routes.Application.novaPlaylist()">
		        	<div class="image-wrap">
		                <div class="hover-wrap">
		                    <span class="overlay-img"></span>
		                </div>
		                
		                <img src="@routes.Assets.at("img/213.gif")" alt="213">
				        
		            </div></a>
		            <h3 class="profile-name">Fácil</h3>
		            <p class="profile-description">Escolhendo primeiro a música de transição, ou seja, uma música que misture dois gêneros musicais, fica mais fácil identificar e selecionar as músicas das paisagens musicais.</p>
		        </div>
		        <!-- End Profile -->
		        
		        <!-- Start Profile -->
		    	<div class="span4 profile">
		        	<div class="image-wrap">
		                <div class="hover-wrap">
		                    <span class="overlay-img"></span>
		                </div>
		                <img src="@routes.Assets.at("img/123.gif")" alt="123">
		            </div>
		            <h3 class="profile-name">Médio</h3>
		            <p class="profile-description">Escolhendo primeiro as músicas da primeira paisagem musical é preciso identificar uma música que contenha tanto o gênero desta paisagem quanto um outro gênero musical diferenciado, para assim escolher as músicas da segunda paisagem musical.</p>
		            	
		        </div>
		        <!-- End Profile -->
		        
		        <!-- Start Profile -->
		    	<div class="span4 profile">
		        	<div class="image-wrap">
		                <div class="hover-wrap">
		                    <span class="overlay-img"></span>
		                </div>
		                <img src="@routes.Assets.at("img/132.gif")" alt="132">
		            </div>
		            <h3 class="profile-name">Difícil</h3>
		            <p class="profile-description">Escolhendo primeiro dois gêneros musicais diferentes e selecionando as músicas para cada paisagem musical, você precisa ser bastante eclético para identificar então uma música que misture estes dois gêneros, está será sua música de transição.</p>
		            	
		        </div>
		        <!-- End Profile -->
		        
		    </div>
		    <!-- End People -->
		    
		     <div class="sep">
		    	<span class="separator"></span>
		    </div>
		    
		</div>
		</div>
		<!-- End Nova Playlist Section -->
		
		<!-- Contact Section -->
		<div id="contact" class="page">
		<div class="container">
		    <!-- Title Page -->
		    <div class="row">
		        <div class="span12">
		            <div class="title-page">
		                <h2 class="title">Entre em Contato</h2>
		                <h3 class="title-description">Qualquer sugestão, dúvida ou reclamação entre em contato. Responderemos o mais rápido possível.</h3>
		                
		            </div>
		        </div>
		    </div>
		    <!-- End Title Page -->
		    
		    <!-- Contact Form -->
		    <div class="row">
		    	<div class="span9">
		        
		        	<form id="contact-form" class="contact-form" action="#">
		            	<p class="contact-name">
		            		<input id="contact_name" type="text" placeholder="Nome" value="" name="name" />
		                </p>
		                <p class="contact-email">
		                	<input id="contact_email" type="text" placeholder="Email" value="" name="email" />
		                </p>
		                <p class="contact-message">
		                	<textarea id="contact_message" placeholder="Sua mensagem" name="message" rows="15" cols="40"></textarea>
		                </p>
		                <p class="contact-submit">
		                	<a id="contact-submit" class="submit" href="#">Enviar</a>
		                </p>
		                
		                <div id="response">
		                
		                </div>
		            </form>
		         
		        </div>
		        
		        <div class="span3">
		        	<div class="contact-details">
		        		<h3>Detalhes para Contato</h3>
		                <ul>
		                    <li>Universidade Federal de Campina Grande</li>
		                    <li>(83) 2101-1000</li>
		                    <li>
		                        Laboratório de Sistemas Distribuídos
		                        <br>
		                        Bloco CO
		                        <br>
		                        Ramal: 
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
		    <!-- End Services Form -->
		</div>
		</div>
		<!-- End Contact Section -->
		
		<!-- Socialize -->
		<div id="social-area" class="page">
			<div class="container">
		    	<div class="row">
		            <div class="span12">
		                <nav id="social">
		                    <ul>
		                        <li><a href="https://twitter.com/Bluxart" title="Follow Me on Twitter" target="_blank"><span class="font-icon-social-twitter"></span></a></li>
		                        <li><a href="http://dribbble.com/Bluxart" title="Follow Me on Dribbble" target="_blank"><span class="font-icon-social-dribbble"></span></a></li>
		                        <li><a href="http://forrst.com/people/Bluxart" title="Follow Me on Forrst" target="_blank"><span class="font-icon-social-forrst"></span></a></li>
		                        <li><a href="http://www.behance.net/alessioatzeni" title="Follow Me on Behance" target="_blank"><span class="font-icon-social-behance"></span></a></li>
		                        <li><a href="https://www.facebook.com/Bluxart" title="Follow Me on Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
		                        <li><a href="https://plus.google.com/105500420878314068694" title="Follow Me on Google Plus" target="_blank"><span class="font-icon-social-google-plus"></span></a></li>
		                        <li><a href="http://www.linkedin.com/in/alessioatzeni" title="Follow Me on LinkedIn" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
		                        <li><a href="http://themeforest.net/user/Bluxart" title="Follow Me on ThemeForest" target="_blank"><span class="font-icon-social-envato"></span></a></li>
		                        <li><a href="http://zerply.com/Bluxart/public" title="Follow Me on Zerply" target="_blank"><span class="font-icon-social-zerply"></span></a></li>
		                    </ul>
		                </nav>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- End Socialize -->
		
		
		<!-- Footer -->
		<footer id="footer">
			<div id="faixaPlayer" style="display:none;">
				<a id="fecharPlayer" onclick="closePlaylist()">
					<i class="glyphicon glyphicon-remove"></i>
				</a>
				<div id="playlistPlayer">
					Nome da playlist aqui...
				</div>
				<div id="videoBox">
					<div class="video">
						<iframe width="300" height="59" src="//www.youtube.com/embed/01gzVYDV5B8?rel=0&amp;fs=0&amp;autoplay=1" allowfullscreen="false" frameborder="0"></iframe>
					</div>
					<div id="musicaAtual">
						"Slipery thing"<br>
						Gutrie Govan
					</div>
				</div>
				<div id="proxima">
					proxima música tal...
				</div>
			</div>
			
			<p class="credits">&copy;2013 Chakra. <a href="http://themes.alessioatzeni.com/html/chakra/" title="Chakra | Responsive One Page Template">Chakra Template</a> by <a href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio Atzeni</a></p>
		</footer>
		<!-- End Footer -->
		
		<!-- Back To Top -->
		<a id="back-to-top" href="#">
			<i class="font-icon-arrow-simple-up"></i>
		</a>
		<!-- End Back to Top -->

}