@()

@import helper._

@main("Projeto") {

	<!-- Header -->
	<header>
	    <div class="sticky-nav">
	    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
	        
	        <div id="logo">
	        	<a id="goUp" href="#" title="Projeto">Projeto</a>
	        </div>
	        
	        <nav id="menu">
	        	<ul id="menu-nav">
	            	<li><a href="@routes.Application.index()">Home</a></li>
	                <li><a onclick="goHome()">Playlists</a></li>
	                <li><a href="www.youtube.com">Contato</a></li>
	            </ul>
	        </nav>
	        
	    </div>
	</header>
	<!-- End Header -->
	
	<!-- Nova Playlist Section -->
		
		<div id="videoSearch">
			<div class="texto t1">Pesquise sua música através dos vídeos do YouTube.</div>
			
		</div>
	
		<div id="creating">
		   
		    <!-- Title Page -->
		    <div class="row">
	            <div class="title-page">
	                <h2 class="title">Crie sua playlist</h2>
	                <h3 class="title-description">Para finalizar a criação de sua playlist preencha o questionário abaixo.</h3>
	            </div>
	        </div>
		    
		    <div class="row formulario">
		    	<iframe src="https://docs.google.com/forms/d/1pc14o-Ri-q-HDt1zpR5uJRhjp4qcKirIMTUCcHEm9NI/viewform?embedded=true" width="760" height="450" frameborder="0" marginheight="0" marginwidth="0">Carregando...</iframe>
				    
			</div>
		    
	    	<div class="row playInfo">
		      	
		      	<div id="botao1">
		      		<div class="span12">
		      			<div class="formulario">
							<button type="button" class="btn btn-lg mainButton" onclick="salvarPlaylist()">Salvar</button>
		      			</div>
		      		</div>
		      	</div>
		      	
	     	</div>
	    </div>
    
}