@(playlistId: String, survey: Survey)

@import helper._

@main("Projeto") {

	<!-- Header -->
	<header>
	    <div class="sticky-nav">
	    	<a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
	        
	        <div id="logo">
	        	<a id="goUp" href="#" title="Projeto">Projeto</a>
	        </div>
	        
	        <nav id="menu">
	        	<ul id="menu-nav">
	            	<li><a href="@routes.Application.index()">Home</a></li>
	                <li><a onclick="goHome()">Playlists</a></li>
	                <li><a href="www.youtube.com">Contato</a></li>
	            </ul>
	        </nav>
	        
	    </div>
	</header>
	<!-- End Header -->
	
	<!-- Nova Playlist Section -->
		
	<div id="videoSearch">
		<div class="texto t1">Pesquise sua música através dos vídeos do YouTube.</div>
		
	</div>

	<div id="creating">
	   
	    <!-- Title Page -->
	    <div class="row">
            <div class="title-page">
                <h2 class="title">Crie sua playlist</h2>
                <h3 class="title-description">Gostaria de colaborar com nossa pesquisa?</h3>
                <p>Responda algumas perguntas relacionadas à criação de sua playlist. Sinta-se à vontade para responder quantas perguntas quiser.</p>
            </div>
        </div>
	    
	    <div class="row">
	    	<div class="span9">
				<form role="form" action="@routes.Application.respostas(" + @playlistId + ")" method="post">
					<div id="formulario">
					
						@for(question <- survey.getQuestions){
						
							<label for="q@question.getId">@question.getQuestion</label>
							<div id="q@question.getId">
								@if(question.hasOptions){
									<div class="radio radioOption">
										@for(option <- question.getOptions){
											<label><input type="radio" name="question@question.getId" value="@option.getNumber">
												@option.getOption
											</label>
										}
									</div>
								} else {
									<textarea name="comment"  rows="3" class="form-control"></textarea>
								}
							</div>
						}
						
					</div>

					<div id="botao1" class="floatRight">
				   		<button type="submit" class="btn btn-lg mainButton">Enviar</button>
					</div>
				</form>
			    
			    <!-- <div class="row formulario">
			    	<iframe src="https://docs.google.com/forms/d/1pc14o-Ri-q-HDt1zpR5uJRhjp4qcKirIMTUCcHEm9NI/viewform?embedded=true" width="760" height="450" frameborder="0" marginheight="0" marginwidth="0">Carregando...</iframe>
				</div> -->
				
		     </div>
	    </div>
    </div>
    
}